{% extends "registration/base.html" %}
{% load static %}
{% block title %}Заявка создана{% endblock title %}
{% block form %}
<form class="d-flex flex-column align-items-center" style="max-width: 480px">
  <h1 class="modal-title text-center fw-bold mb-3">Передите на почту</h1>
  <p class="text-center">Ваша заявка принята находится в обработке.</p>
  <p class="text-center"> После расмотрении заявки вы получите письмо.</p>
  <p class="text-center"> Перейдите по ссылке в письме для подтверждения</p>
  <a href="{% url 'storage:index' %}" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage_orange">Вернуться на главную</a>
</form>
{% endblock form %}