{% extends "registration/base.html" %}
{% load static %}
{% block title %}Password reset done{% endblock title %}
{% block form %}
	<form class="d-flex flex-column align-items-center" style="max-width: 420px" method="post">
					<h1 class="modal-title text-center fw-bold mb-3">Восстановление пароля</h1>
					{{ form.as_p }}

					{% csrf_token %}
					<button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Восстановить</button>
					<span>Вспомнили пароль?  <a href="{% url 'storage:index' %}" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Отмена</a></span>
	</form>
{% endblock form %}
