{% extends "registration/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block form %}
<form class="d-flex flex-column align-items-center" style="max-width: 420px" action="{% url 'storage:login' %}" method="post">
  <h1 class="modal-title text-center fw-bold mb-3">Регистрация</h1>
					{{ form.as_p }}
					{% csrf_token %}
					<span class="fw-light SelfStorage_grey">Нажимая на кнопку, вы подтверждаете свое <a href="{% static 'soglasie.pdf' %}"  target="_blank" class="SelfStorage_grey">согласие на обработку персональных данных</a></span>
					<button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться</button>
					<span>Уже зарегистрированы? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Войти в личный кабинет</a></span>
					<a href="{% url 'storage:index' %}" class="SelfStorage_orange">Выйти на главную стрницу</a>
</form>
{% endblock form %}